name: Build on push

on:
  pull_request:
    branches:
      - main
    paths:
      - '**'
  push:
    branches:
      - main
    paths:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm install
